@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

header {
  position: absolute;
  width: 100%;
  
  padding: 0 5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: 1.3rem;
  text-decoration: none;
}
nav a#logo {
  color: #000000;
  font-weight: 700;
}
nav ul a {
  color: #ffffff;
  font-weight: 300;
  transition: 0.7s ease;
}
nav ul a:hover {
  border-bottom: 2px solid #ffffff;
  color: rgb(20, 12, 131);


}

nav ul.active {
  left: 0;
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #ffffff;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}


section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(coup-moyen-hommes-travaillant-ensemble-toit.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 145px;
    color:rgb(20, 12, 131);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main h4{
    color: gray;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
  

.main-btn {
    color: #fff;
    background-color:gray;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: rgb(20, 12, 131);
    transform: scale(1.1);
}



.title {
  display: flex;
  justify-content: center;
  color:rgb(20, 12, 131);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.heading{
width: 100%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin: 20px auto;

}
.container {
  width: 100%;
  padding-right: 5px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: url(jo.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;}
.about{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}
.about-image{
flex: 1;
margin-right: 40px;
overflow: hidden;

}
.about-image img{
max-width: 100%;
height: auto;
display: block;
transition: 0.5s ease;
margin-right: auto;
margin-left: auto;

}
.about-image:hover img{
transform: scale(1.2);
}
.about-content{
flex: 1;
}
.about-content h2{
font-size: 33px;
margin-bottom: 15px;
color: gray;
}
.about-content h2 span{
  color:rgb(20, 12, 131) ;
}
.about-content p{
font-size: 18px;
line-height: 1.5;
}

.cards .titel {
  display: flex;
  justify-content: center;
  color:rgb(20, 12, 131);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;

}p{
font-size: 20px;
text-align: center;
}








.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 3em;
    text-align: center;
}


.info {
    text-align: center;
}

.info h3{
    color:gray;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}









.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: gray;
}

.contact .info p {
    font-size: 1.5em;
}

.contact .titel{
  color:rgb(20, 12, 131);
  padding-top: 10px;
  text-align: center;
  font-size: 55px;
  
}


 
 
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 16em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}





.content{
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 0;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content img :hover{
  transition: 0.7s ease;
  align-items: center;
}
.container .row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  transition: 1s ease;

  background: none;
}
.container .row :hover{
  transform: scale(1.1);

}
.row :hover{
  transition: 0.7s ease;

}


















h1{
  color: rgb(20, 12, 131);
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
  
}
input{
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #000000;
  margin-bottom: 20px;

}
textarea{
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #000000;
  margin-bottom: 25px;
}
input:focus-within{
  outline: none;
  border-color: gray;
  border-width: 3px;

}
textarea:focus-within{
  outline: none;
  border-color:rgb(0, 0, 0);
  border-width: 3px;
  
}
button{
  background-color: rgb(20, 12, 131);
  color: #ffffff;
  border-radius: 20px;
  border-color: #3113b9;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;
  transition: 0.7s ease;
}
button:hover{
  opacity: 80%;
  cursor: pointer;
  background-color:white;
  transform: scale(1.1);
  color: #000000;
  

}



.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5px 5px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  
}



.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
  
}
.footer-distributed .footer-links a:hover{
  transition: 0.7s ease;
  transform: scale(1.1);
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
@media (max-width:1023px){
  header{
      padding: 12px 20px;
  }

  .navigation a{
      padding-left: 10px;
  }
  .nav img{
    align-items: center;
    
  }

  .title{
      font-size: 1.8em;
  }

  section{
      padding: 80px 20px;
  }

  .main-content h2{
      font-size: 1em;
  }

  .main-content h3{
      font-size: 1.6em;
  }

  .content{
      flex-direction: column;
      align-items: center;
  }

}

@media (max-width:641px){
  body{
      font-size: 12px;
  }

  .main-content h2{
      font-size: 0.8em;
  }

  .main-content h3{
      font-size: 1.4em;
  }
}

@media (max-width:300px){
  body{
      font-size: 10px;
   
  }
}
@media (max-width: 991px){
.about img {
    margin-bottom: 70px;
}
}


@media screen and (max-width: 768px){
  .heading{
    padding: 0px 20px;
  }
  .heading h1{
    font-size: 36px;
  }
  .heading p{
    font-size: 17px;
    margin-bottom: 0px;
    
  }
  .container{
    padding: 0px;
  }
  .about{
padding: 0px;
flex-direction: column;
  }
  .about-image{
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .about-content p{
padding: 0px;
font-stretch: 16PX;
font-size: 16px;
  }
  
}
